.navbar {
    background-color: rgb(132, 23, 175);
}

.navbar-brand {
    margin-right: 25px;
    font-size: xx-large;
    color: aliceblue;
}

.nav-item {
    font-size: larger;
}

.nav-item a {
    color: aliceblue;
}